@import "components/_mixins";
@import "components/_variables";
@import "components/_flexbox";
@import "components/_grid";
@import "components/_comon";
@import "components/_display";
@import "components/_reset";
body {
    font-family: calibri, Arial;
}

// site top sec
.header-inner {
    @include align_items_CenterStretch(center);
    background: #ebebeb;
    .right {
        ul {
            width: 100%;
            text-align: right;
            >li {
                font-size: 25px;
                >a {
                    outline: none;
                    text-decoration: none;
                    color: #e5055e;
                    @include transition;
                    &:hover {
                        color: #970071;
                    }
                }
            }
        }
    }
}