@import "components/_mixins";
@import "components/_variables";
@import "components/_flexbox";
@import "components/_grid";
@import "components/_comon";
@import "components/_reset";

body {
  font-family: calibri, Arial;
}

// site top sec
.site-top-sec {
  padding-top: 3px;
  padding-bottom: 3px;
  > ul {
    display: table;
    float: right;
    > li {
      color: #fff;
      > span {
        vertical-align: middle;
      }
      .img {
        margin-right: 3px;
      }
      .text {
        position: relative;
        top: -1px;
        font-size: 14px;
        color: #dfdfdf;
      }
    }
  }
}
