* {
  box-sizing: border-box;
}

.border {
  @include border;
}
.comon-padding {
  padding-left: 15px;
  padding-right: 15px;
}

.ul-inline {
  list-style-type: none;
  padding: 0;
  > li {
    display: inline-block;
    padding: 0 5px;
  }
}
.ul-unstyled {
  list-style-type: none;
}

button {
  border-radius: 0;
  @include border(1px, solid, #ddd);
  padding: 5px;
}


.clear-parent:after {
  content: "";
  clear: both;
  display: block;
}

.col {
  float: left;
}

.inline-child {
  display: inline-block;
  margin-right: -4px;
  vertical-align: top;
}


.img-responsive {
  max-width: 100%;
  max-height: 100%;
  display: block;
  height: auto;
}


.primary-color-color {
  color: $primary-color;
}
.secondary-color-color {
  color: $secondary-color;
}
.primary-color-bg-color {
  background-color: $primary-color;
}
.secondary-color-bg-color {
  background-color: $secondary-color;
}
